<app-nav-bar></app-nav-bar>
<p></p>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" >
            <img class="card-img-top" src="assets/images/1b.jfif" width="200" height="200" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Past</h5>
              <p class="card-text">E-resources are increasingly important to all aspects of education – from teaching and learning, through to the collection of student data, administration and marketing activities those institutions engage in..</p>
              <a href="#" class="btn btn-primary">Know more</a>
            </div>
          </div>
      </div>
      
      </div>
  </div>